<div appHighlight class="p-3 card-container">
    <div class="d-flex justify-content-between">
        <b [textContent]="note.title" class="card-title"></b>
        <span [textContent]="note.writtenOn | date" class="text-secondary"></span>
    </div>
    <hr>
    <p [textContent]="note.content" class="card-content"></p>
    <hr>
    <div>
        <div class="d-flex justify-content-between">
            <button (click)="editNote(note)" class="m-2 border-0 rounded-circle card-button">
                <i class="bi bi-pencil-fill"></i>
            </button>
            <button (click)="deleteNote(note)" class="m-2 border-0 rounded-circle card-button">
                <i class="bi bi-trash-fill"></i>
            </button>
        </div>
    </div>
</div>