<mat-dialog-content class="mat-typography">
	<div
		class="d-flex justify-content-between align-items-baseline py-2"
		style="min-width: 800px"
	>
		<div class="d-flex align-items-baseline">
			<i class="bi bi-receipt-cutoff" style="font-size: larger"></i>
			<input
				type="text"
				class="form-control mx-3"
				style="max-width: 400px"
				[(ngModel)]="title"
				placeholder="Note Title"
			/>
		</div>
		<span>{{ date | date : 'medium' }}</span>
	</div>

	<textarea
		class="form-control"
		name
		id
		rows="10"
		style="width: 100%"
		[(ngModel)]="note"
	></textarea>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button (click)="pasteNote()">Paste</button>
	<button mat-button mat-dialog-close>Cancel</button>
	<button mat-button [mat-dialog-close]="true" (click)="saveNote()">
		Save
	</button>
</mat-dialog-actions>
