$primary-color: rgb(153, 243, 178);
$secondary-color: rgb(159, 159, 159);

.c-card-container {
	width: 250px;
	height: 310px;
	background: $primary-color;
	margin: 10px;
	border-radius: 10px;
	text-align: justify;

	.card-content-p {
		height: 160px;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 10px;
	}

	.c-card-title {
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100px;
		color: $secondary-color;
	}

	.c-card-button {
		width: 40px;
		height: 30px;
	}
}
