.min-w-800{
  min-width: 800px;
}

.mx-w-400{
  max-width: 400px;
}


.min-h-vh-30{
  min-height: calc(100vh - 30px);
}

.min-h-vh-105{
	min-height: calc(100vh - 105px);
}

.btn-sq-100{
	height: 100px;
	width: 100px;
}
