@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

html,
body {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
