<div
	class="bg-secondary-subtle m-lg-2 m-md-2 m-sm-1 rounded"
	style="min-height: calc(100vh - 105px)"
>
    <div
        class="d-flex flex-wrap"
        style="flex-grow: 1;"
    >
        <div
            class="p-3"
            *ngFor="let i of notes | async"
        >
            <div appHighlight
                class="p-2"
                style="
					width: 190px;
					height: 200px;
					background: rgba(18, 237, 84, 0.636);
					margin: 10px;
                    border-radius: 10px;
					text-align: center;
				"
            >
                <b 
                    [textContent]="i.title"

                ></b>
                <p
                    style="height: 80px; overflow: hidden; text-overflow: ellipsis; margin-top: 10px;"
                    [textContent]="i.content"
                ></p>
                <div class="d-flex justify-content-between">
                    <button mat-button class="m-2 border-0 rounded-3" style="width: 40px; height: 30px;" (click)="copy(i)"><i class="bi bi-clipboard-check-fill"></i></button>
                    <button mat-button class="m-2 border-0 rounded-3" style="width: 40px; height: 30px;" (click)="edit(i)"><i class="bi bi-pencil-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
    <button mat-button (click)="openDialog(emptyNote)">Add new note</button>
</div>
