<div class="bg-secondary-subtle m-lg-2 m-md-2 m-sm-1 rounded min-h-vh-105">
	<mat-tab-group>

		<mat-tab label="Todays">
			<div class="d-flex flex-wrap align-items-center justify-content-evenly">
				<button class="btn btn-outline-secondary btn-sq-100" (click)="openDialog(emptyNote)">
					New note
					<i class="bi bi-file-earmark-plus"></i>
				</button>
				<div class="p-3" *ngFor=" let i of notes | async | dateRangeFilter : startDate : endDate | deleteFilter	">
					<app-card [note]="i" (copyNoteEmitter)="copy($event)" (cutNoteEmitter)="cut($event)"
						(deleteNoteEmitter)="delete($event)" (editNoteEventEmitter)="openDialog($event)">
					</app-card>
				</div>
			</div>
		</mat-tab>

		<mat-tab label="This Week">
			<div class="d-flex flex-wrap align-items-center justify-content-evenly">
				<button class="btn btn-outline-secondary btn-sq-100" (click)="openDialog(emptyNote)">
					New note
					<i class="bi bi-file-earmark-plus"></i>
				</button>
				<div class="p-3" *ngFor=" let i of notes | async | dateRangeFilter : startOfWeek : endOfWeek | deleteFilter	">
					<app-card [note]="i" (copyNoteEmitter)="copy($event)" (cutNoteEmitter)="cut($event)"
						(deleteNoteEmitter)="delete($event)" (editNoteEventEmitter)="openDialog($event)">
					</app-card>
				</div>
			</div>
		</mat-tab>

		<mat-tab label="This Month">
			<div class="d-flex flex-wrap align-items-center justify-content-evenly">
				<button class="btn btn-outline-secondary btn-sq-100" (click)="openDialog(emptyNote)">
					New note
					<i class="bi bi-file-earmark-plus"></i>
				</button>
				<div class="p-3" *ngFor=" let i of notes| async | dateRangeFilter : monthStartDate : monthEndDate | deleteFilter">
					<app-card [note]="i" (copyNoteEmitter)="copy($event)" (cutNoteEmitter)="cut($event)"
						(deleteNoteEmitter)="delete($event)" (editNoteEventEmitter)="openDialog($event)">
					</app-card>
				</div>
			</div>
		</mat-tab>

		<mat-tab label="All">
			<div class="d-flex flex-wrap align-items-center justify-content-evenly">
				<button class="btn btn-outline-secondary btn-sq-100" (click)="openDialog(emptyNote)">
					New note
					<i class="bi bi-file-earmark-plus"></i>
				</button>
				<div class="p-3" *ngFor="let i of notes | async | deleteFilter">
					<app-card [note]="i" (copyNoteEmitter)="copy($event)" (cutNoteEmitter)="cut($event)"
						(deleteNoteEmitter)="delete($event)" (editNoteEventEmitter)="openDialog($event)">
					</app-card>
				</div>
			</div>
		</mat-tab>

	</mat-tab-group>
</div>
